<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="connection.url">jdbc:mysql://localhost:3306/picture</property>
    <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
      <mapping class="bean.BlogEntity"/>
      <mapping class="bean.CameramanEntity"/>
      <mapping class="bean.ComboEntity"/>
      <mapping class="bean.CommentEntity"/>
      <mapping class="bean.IssueEntity"/>
      <mapping class="bean.OrderEntity"/>
      <mapping class="bean.PictureEntity"/>
      <mapping class="bean.PraiseEntity"/>
      <mapping class="bean.UserEntity"/>
      <!-- <property name="connection.username"/> -->
    <!-- <property name="connection.password"/> -->

    <!-- DB schema will be updated if needed -->
    <!-- <property name="hbm2ddl.auto">update</property> -->
  </session-factory>
</hibernate-configuration>